{% extends './customer_base.html'%}
{% load static %}
{% block siteCustomLinks%}
{%endblock siteCustomLinks%}

{% block mainContent %}
<div class="container">
    <h1>Cart</h1>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12 ">
            <ul class="list-group list-group-flush">
                {%for item in items%}
                {% include 'elements/cart_item.html' with value=item%}
                {% endfor%}
            </ul>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h4 class="card-title">Order Summary</h4>
                    <hr>

                    <div class="Subtotal d-flex justify-content-between">
                        <div class="">
                            <h6 class="text-muted">Subtotal</h6>
                        </div>
                        <div class="">${{total}}</div>
                    </div>


                    <br>
                    <div class="Tax&Fees d-flex justify-content-between">
                        <div class="">
                            <h6 class="text-muted">Tax & Fees</h6>
                        </div>
                        <div class="">$0.00</div>
                    </div>
                    <hr>
                    <div class="Total d-flex justify-content-between">
                        <div class="float-left">
                            <h5>Total</h5>
                        </div>
                        <div class="">${{total}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock mainContent %}

{% block customJS %}
<script src="{% static "main/cart.js" %}"></script>

{% endblock customJS %}