{% extends './base.html'%}


{%block siteCustomLinks%}

{%endblock siteCustomLinks%}

{%block mainContent%}


<div class="container">
    <h3>Contact Me</h3>
    <form>

        <div class="card">
            <div class="card-body">
                <div class="form-row">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Last name">
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

{%endblock mainContent%}