{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->

    <title>EateryX</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "main/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "main/custom.css" %}">
    {%block siteCustomLinks%}{%endblock siteCustomLinks%}

</head>

<body>
    {%include "customer_elements/customer_navbar.html"%}

    <!-- main contents -->
    {%block mainContent%}{%endblock mainContent%}


    {%include "elements/footer.html"%}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "main/js/bootstrap.min.js" %}"></script>
    {%block customJS%}{%endblock customJS%}
</body>


</html>

{% load static %}