{% extends './customer_base.html'%}
{% block siteCustomLinks%}
{%endblock siteCustomLinks%}

{% block mainContent %}

<div class="container">

    <div class="food_section">
        <h2>American Menu</h2>
        <p>
            <p class="price">15.00 </p>Steak Sandwich(14 oz. New York Cut)
        </p>
        <p>
            <p class="price">6.50 </p>Hamburger with French Fries
        </p>
        <p>
            <p class="price">7.00 </p>Cheeseburger with French Fries
        </p>
        <p>
            <p class="price">7.50 </p>BBQ Pork Sandwich
        </p>
        <p>
            <p class="price">6.95 </p>Chicken Sandwich
        </p>
        <p>
            <p class="price">4.50 </p>Grilled Cheese
        </p>
        <p>
            <p class="price">17.50 </p>New York Cut, 14 oz. U.S Choice
        </p>
        <p>
            <p class="price">12.00 </p>Ground Round Beef Steak
        </p>
    </div>
    <div class="food_section">
        <h2>Appetizers</h2>
        <p>
            <p class="price">5.50 </p>Chiam Egg Rolls
        </p>
        <p>
            <p class="price">7.95 </p>BBQ Pork
        </p>
        <p>
            <p class="price">12.50 </p>Fried Shrimp
        </p>
        <p>
            <p class="price">7.00 </p>Fried Won Ton
        </p>
        <p>
            <p class="price">7.00 </p>Pot Stickers
        </p>
        <p>
            <p class="price">8.50 </p>Crab Puffs
        </p>
    </div>
    <div class="food_section">
        <h2>Chef's Special</h2>
        <p>
            <p class="price">18.95 </p>Chiam Special Fired Shrimp w/Garlic
        </p>
        <p>
            <p class="price">14.95 </p>Hong Kong Chow Mein
        </p>
        <p>
            <p class="price">13.50 </p>Triple Crown
        </p>
        <p>
            <p class="price">19.95 </p>Home Run
        </p>
        <p>
            <p class="price">13.50 </p> Kung Pao King
        </p>
        <p>
            <p class="price">12.00 </p>General Tao's Chicken
        </p>
        <p>
            <p class="price">11.00 </p>Orange Chicken
        </p>
        <p>
            <p class="price">11.00 </p>Mu Shu Pork
        </p>
        <p>
            <p class="price">14.95 </p>Happy Family
        </p>
        <p>
            <p class="price">11.00 </p> Szechwan Chicken or Beef
        </p>
        <p>
            <p class="price">12.00 </p>Chow Fun
        </p>
        <p>
            <p class="price">14.00 </p>Seafood Chow Fun
        </p>
        <p>
            <p class="price">12.00 </p>Low Mein
        </p>
        <p>
            <p class="price">14.00 </p>Cream of Cauliflower with Chicken
        </p>
        <p>
            <p class="price">15.00 </p>Cream of Cauliflower with Shrimp
        </p>
    </div>
    <div class="food_section">
        <h2>Chow Mein Cantonese Style</h2>
        <p>
            <p class="price">15.00 </p>Steak Kew Chow Mein
        </p>
        <p>
            <p class="price">12.50 </p>Cashew Chicken Kew Chow Mein
        </p>
        <p>
            <p class="price">16.00 </p>Shrimp & Scallop Chow Mein
        </p>
        <p>
            <p class="price">13.50 </p>Chiam Special Chow Mein
        </p>
        <div class="food_section">
            <h2>Combination Chinese Dinner</h2>
            <p>
                <p class="price">10.00 </p>No. 1
            </p>
            <p>
                <p class="price">10.50 </p>No. 2
            </p>
            <p>
                <p class="price">10.50 </p>No. 3
            </p>
            <p>
                <p class="price">10.75 </p>No. 4
            </p>
        </div>
        <div class="food_section">
            <h2>Noodlesl</h2>
            <p>
                <p class="price">9.50 </p>Chicken Noodles Soup
            </p>
            <p>
                <p class="price">9.00 </p>Pork Noodles Soup
            </p>
            <p>
                <p class="price">11.00 </p>Beef Noodles
            </p>
            <p>
                <p class="price">11.50 </p>Beef Tomato Curry Noodles
            </p>
        </div>
        <div class="food_section">
            <h2>Poultry</h2>
            <p>
                <p class="price">11.00 </p>Pineapple Chicken Kew
            </p>
            <p>
                <p class="price">12.00 </p>Cashew Chicken Kew
            </p>
            <p>
                <p class="price">11.75 </p>Moo Goo Gai Pan
            </p>
            <p>
                <p class="price">11.00 </p>Mar Far Chicken
            </p>
            <p>
                <p class="price">11.00 </p>Sesame Seed Chicken (Boneless)
            </p>
            <p>
                <p class="price">11.00 </p>Green Pepper Chicken
            </p>
            <p>
                <p class="price">10.50 </p>Bok Choy Chicken (or Pork)
            </p>
            <p>
                <p class="price">12.50 </p>Soy Bean Cake with Chicken (or Pork)
            </p>
            <p>
                <p class="price">12.00 </p>Broccoli With Chicken (or BBQ Pork)
            </p>
        </div>
        <div class="food_section">
            <h2>Rice</h2>
            <p>
                <p class="price">11.00 </p>Beef Tomato Curry Rice
            </p>
            <p>
                <p class="price">11.00 </p>Beef Rice with Vegetable
            </p>
            <p>
                <p class="price">10.50 </p>Chicken Rice with Vegetable
            </p>
            <p>
                <p class="price">10.00 </p>Chicken Fried Rice
            </p>
            <p>
                <p class="price">12.00 </p>Shrimp Fried Rice
            </p>
            <p>
                <p class="price">11.00 </p>Beef Fried Rice
            </p>
            <p>
                <p class="price">10.50 </p>Ham Fried Rice
            </p>
            <p>
                <p class="price">9.50 </p>Barbecue Pork Fried Rice
            </p>
            <p>
                <p class="price">8.50 </p>Vegetable Fried Rice
            </p>
            <p>
                <p class="price">12.00 </p>Yang Chow Fried Rice
            </p>
            <p>
                <p class="price">2.00 </p>1 Scoop Pork Fried Rice
            </p>
            <p>
                <p class="price">1.50 </p>1 Scoop Steamed Rice
            </p>
        </div>
        <div class="food_section">
            <h2>Seafood</h2>
            <p>
                <p class="price">13.95 </p>Shrimp with Lobster Sauce
            </p>
            <p>
                <p class="price">13.95 </p>Shrimp with Curry
            </p>
            <p>
                <p class="price">18.95 </p>Pan Fried Shrimp with Shell
            </p>
            <p>
                <p class="price">14.95 </p>Shrimp & Scallop Kew
            </p>
            <p>
                <p class="price">13.50 </p>Cashew Har Yen (Shrimp)
            </p>
            <p>
                <p class="price">15.00 </p>Baby Shrimp Peking Style
            </p>
            <p>
                <p class="price">14.00 </p>Broccoli Shrimp
            </p>
            <p>
                <p class="price">16.00 </p>Broccoli Scallops
            </p>
        </div>
        <div class="food_section">
            <h2>Side</h2>
            <p>
                <p class="price">2.00 </p>1 Scoop Pork Fried Rice
            </p>
            <p>
                <p class="price">1.50 </p>1 Scoop Steamed Rice
            </p>
            <p>
                <p class="price">1.00 </p>Side of Gravy
            </p>
            <p>
                <p class="price">1.00 </p>Side of Sweet and Sour Sauce
            </p>
            <p>
                <p class="price">4.00 </p>Side of French Fries
            </p>
        </div>
        <div class="food_section">
            <h2>Soup</h2>
            <p>
                <p class="price">6.00 </p>Egg Flower
            </p>
            <p>
                <p class="price">3.50 </p>Hot & Sour (Small)
            </p>
            <p>
                <p class="price">6.50 </p>Hot & Sour (Large)
            </p>
            <p>
                <p class="price">3.50 </p>BBQ Pork Wonton Soup
            </p>
            <p>
                <p class="price">6.50 </p>Bean Cake
            </p>
            <p>
                <p class="price">6.50 </p>Chicken Mushroom
            </p>
            <p>
                <p class="price">14.95 </p>War Wonton Soup
            </p>
        </div>
        <div class="food_section">
            <h2>Steak & Beef</h2>
            <p>
                <p class="price">20.95 </p>Hong Kong Steak Chiam Style New York Strip
            </p>
            <p>
                <p class="price">14.50 </p>Chow Steak Kew
            </p>
            <p>
                <p class="price">14.50 </p>Green Pepper Steak
            </p>
            <p>
                <p class="price">14.50 </p>Tomato Steak
            </p>
            <p>
                <p class="price">14.50 </p>Steak in Oyster Sauce
            </p>
            <p>
                <p class="price">14.50 </p>Ginger Steak
            </p>
            <p>
                <p class="price">14.50 </p>Fresh Mushrooms with Steak
            </p>
            <p>
                <p class="price">11.95 </p>Boy Choy with Beef
            </p>
            <p>
                <p class="price">13.50 </p>Soy Bean Cake with Beef
            </p>
            <p>
                <p class="price">13.00 </p>Broccoli Beef
            </p>
        </div>
        <div class="food_section">
            <h2>Sweet & Sour</h2>
            <p>
                <p class="price">11.00 </p>Sweet & Sours Chicken or Pork
            </p>
            <p>
                <p class="price">11.00 </p>Sweet & Sours BBQ Pork Wonton
            </p>
            <p>
                <p class="price">12.50 </p>Sweet & Sours Shrimp
            </p>
        </div>
        <div class="food_section">
            <h2>Szechwan Dish</h2>
            <p>
                <p class="price">14.50 </p>Mongolian Beef
            </p>
            <p>
                <p class="price">12.00 </p>Mongolian Chicken
            </p>
            <p>
                <p class="price">11.00 </p>Kung Pao Chicken
            </p>
            <p>
                <p class="price">13.50 </p>Kung Pao Shrimp
            </p>
            <p>
                <p class="price">11.00 </p>Twice Cook Pork
            </p>
            <p>
                <p class="price">11.50 </p>Ma Pao Bean Cake
            </p>
            <p>
                <p class="price">12.00 </p>Curry Chicken
            </p>
            <p>
                <p class="price">15.00 </p>Sesame Beef
            </p>
            <p>
                <p class="price">12.00 </p>Kung Pao Beef
            </p>
            <p>
                <p class="price">9.50 </p>Kung Pao Vegetables
            </p>
        </div>
    </div>

    {% endblock mainContent %}