<li class="list-group-item" id="listitem1">
    <div class="d-flex justify-content-between">

        <div>
            <h6>{{item.object.food_item_name}}</h6>
        </div>

        <div class="itemCartInfo" id="{{item.object.id}}">
            Quantity: {{item.count}}
            <select class="itemCountInfo" name="itemName Select">
                id="{{item.object.id}}"
            </select>
            <a class="" onclick="" href="#"><i class="fas fa-check"></i></a>
            <a class="" onclick="" href="#"><i class="far fa-trash-alt"></i></a>
        </div>
        <div class="">
            <p>${{item.subTotalPrice}}</p>
        </div>
    </div>
</li>