<li class="list-group-item" id="listitem1">
    <div class="d-flex justify-content-between">


        <h6>item 0</h6>


        <div class="itemCartInfo">
            Quantity:
            <select class="itemCountInfo" name="itemName Select" id="1">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option selected="selected" value="10">10</option>
            </select>
            <a class="" onclick="" href="#"><i class="fas fa-check"></i></a>
            <a class="" onclick="" href="#"><i class="far fa-trash-alt"></i></a>
        </div>
        <div class="">$10.00</div>
    </div>
</li>