{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> <!-- Optimal Internet Explorer compatibility -->

    {%block title%}{%endblock title%}
    <link rel="icon" href="{% static "restaurants/img/icon.png" %}">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "restaurants/custom.css" %}">
    <script src="https://kit.fontawesome.com/ce4611d174.js" crossorigin="anonymous"></script>
    {%block siteCustomLinks%}{%endblock siteCustomLinks%}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EHVDCL7LYS"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-EHVDCL7LYS');
    </script>

</head>

<body>
    {%include "customer_elements/customer_navbar.html"%}

    <!-- main contents -->
    {%block mainContent%}{%endblock mainContent%}


    {%include "elements/footer.html"%}
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {%block customJS%}{%endblock customJS%}
</body>


</html>

{% load static %}