{% extends './customer_base.html'%}
{% block siteCustomLinks%}
{%endblock siteCustomLinks%}

{% block mainContent %}

<div class="container">
    <h1>Orders</h1>
    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Order #</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Time</th>
                        <th scope="col">Status</th>
                        <th scope="col">Last Updated</th>
                        <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    {%for order in orders%}
                    {% include 'elements/dashboard_item.html' with value=order.object%}
                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock mainContent %}