{% extends './customer_base.html'%}
{%block title%}
<title>EateryX</title>
{%endblock title%}
{% block siteCustomLinks%}
{%endblock siteCustomLinks%}

{% block mainContent %}

<div id="covid_alert">
    <span class="d-block p-2 bg-danger text-white text-center">
        <h4>WE ARE OPEN 4PM-8PM for TAKE OUT</h4>
        <p>Place an order by online or phone: (503) 555-1234</p>
    </span>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>About Us</h3>
            <p>EateryX Restaurant is a proof of concepts for the potential that current technologies can bring for mon
                and pop local restaurants. </p>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <h3>Lunch</h3>
            <h6>Monday - Friday</h6>
            <p>11:00 AM - 3:00 PM</p>
            <h6>Saturday</h6>
            <p>12:00 AM - 3:00 PM</p>
            <h6>Sunday Dinner All Day</h6>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <h3>Dinner</h3>
            <h6>Monday - Saturday</h6>
            <p>3:00 PM - 10:00 PM</p>
            <h6>Sunday Dinner All Day</h6>

        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <h3>Location</h3>
            <address>
                1220 SW 3rd Ave<br>
                Portland, OR 97204<br>
                USA
            </address> Call for Reservations and Take Outs:
            <p><strong>(503) 555-1234</strong></p>
        </div>
    </div>

</div>
{% endblock mainContent %}