{% extends './customer_base.html'%}
{% load static %}
{%block title%}
<title>Menu</title>
{%endblock title%}
{% block siteCustomLinks%}
{%endblock siteCustomLinks%}

{% block mainContent %}
<div class="container">
    <h1>Menu</h1>
    <div class="row d-flex justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12 ">
            <ul class="list-group list-group-flush">
                {%for menu_item in menu%}

                {% include 'elements/menu_item.html' with value=menu_item%}

                {%endfor%}
            </ul>

        </div>
    </div>

</div>


{% endblock mainContent %}

{% block customJS %}
<script src="{% static "main/menu.js" %}"></script>

{% endblock customJS %}