{% extends './customer_base.html'%}
{% block siteCustomLinks%}
{%endblock siteCustomLinks%}

{% block mainContent %}

<div class="container">
    <h1>Orders Details</h1>
    <h3>Order # {{order.id}}</h3>

    {% if order.status == "A" %}
    <h3>Status: Received</h3>
    {% endif %}

    {% if order.status == "B" %}
    <h3>Status: Accepted</h3>
    {% endif %}

    {% if order.status == "C" %}
    <h3>Status: Ready</h3>
    {% endif %}

    {% if order.status == "F" %}
    <h3>Status: Canceled</h3>
    {% endif %}

    <h3>Order Time: {{order.time}}</h3>
    <h3>Last Update: {{order.last_modifed}}</h3>
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Count</th>
                    <th scope="col">SubTotal</th>
                </tr>
            </thead>
            <tbody>
                {%for item in items%}
                {% include 'elements/order_items_details.html' with value=item%}
                {% endfor%}
            </tbody>
        </table>
    </div>

    <div class="col-12">
        <p>Need to Cancel? Call us: <strong>(503) 555-1234</strong></p>
    </div>
</div>

{% endblock mainContent %}