{% extends './customer_base.html'%}
{% block siteCustomLinks%}
{%endblock siteCustomLinks%}

{% block mainContent %}

<div class="container">
    <div class="d-flex justify-content-center">
        <h4>Sign Up Page</h4>
    </div>

    <h3 style="color:red">{{form.errors}}</h3>
    <form method='POST' action=''>
        {% csrf_token %}
        {{form.as_p}}
        <div class="d-flex justify-content-center">
            <input class="float-right btn btn-primary" type="submit" name="Create User">
        </div>
    </form>
</div>

{% endblock mainContent %}