<li class="list-group-item" id="listitem1">
    <div class="d-flex justify-content-between">

        <div>
            <p><strong>{{item.object.food_item_name}}</strong></p>
        </div>

        <div class="itemCartInfo" id="{{item.object.id}}">
            Quantity:
            <input type="number" id="{{item.object.id}}Select" value="{{item.count}}"
                style="max-width:3em; max-height:1.5em;">

            <a class="" onclick="" href="#"><i class="fas fa-check"></i></a>
            <a class="" onclick="" href="#"><i class="far fa-trash-alt"></i></a>
        </div>
        <div class="">
            <p>${{item.subTotalPrice}}</p>
        </div>
    </div>
</li>